<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs") %>
<body>
  <%-include("../partials/header.ejs") %>    
<main>
              <!-- <hr> -->
    <div class="inicio"><button class="volver"><span>volver</span></button></div>
    <div class="productos-Fran">
        <strong class="moli">Mochila Spiderman</strong>
        <hr>
        <article class="imagen1">
           <img width="74%" src="/img/mochilaSpiderman.jpg" alt="Corazon-Delator">
           </article>
           <br>
           <div class="detalle-fran">
               <strong><p class="mochi"> Mochila Spiderma carrito reforzado con porta tablet -4 bolsillos internos-3 bolsillos externos</p></strong>
           <br>
               <div class="contador">
                <strong class="precio-olivia"><input class="contador2" type="number"  name="cantidad" min="0" max="15" placeholder="unidad"></strong>
                <strong><p class="precio">$5.700</p><p class="descuento">40% OFF</p></strong>
            </div>
          <br><br>
          <div class="botons">
          <button  class = "boton-agregar"><span> Agregar</span></button>
          <button  class = "boton-eliminar"><span>Eliminar</span></button>
        </div>
        <br>
        </div>   
         </div>
        
<br><hr>
         <div class="productos-Fran">
        <strong class="moli">Mochila Spiderman</strong>
        <hr>
        <article class="imagen1">
           <img width="50%"  src="/img/Harry.jpg" alt="Harry">
           </article>
           <br>
           <div class="detalle-fran">
            <strong><p class="mochi"> Libro Harry Posttre "la camara de los secretos", edicion limitada! </p></strong>           <br>
            <div class="contador">
                <strong class="precio-olivia"><input class="contador2" type="number"  name="cantidad" min="0" max="15" placeholder="unidad"></strong>
                <strong><p class="precio">$5.700</p><p class="descuento">40% OFF</p></strong>
            </div>
          <br><br>
          <div class="botons">
          <button  class = "boton-agregar"><span> Agregar</span></button>
          <button  class = "boton-eliminar"><span>Eliminar</span></button>
        </div>
        </div>   
         </div>
        </main>
        <div class="contenedor-botones">
			<button class="boton dos"><span>Comprar</span></button>
        </div>   
<!--        <div class="comprame">
    <button class= "llevar"><span>Comprar</span></button>
</div>
 -->       
       <hr>
       <!-- Inicio del footer -->
       <%-include("../partials/footer.ejs")%>
      <!-- fin del footer -->
</body>
</html>