/* :root {
    --color-4: #23b3e8;
    --color-3: #A6E3E9;
    --color-2: #CBF1F5;
    --color-1: #E3FDFD;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #006f97;
} */
/* .divForm_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.divForm_login .retornHome_login{
    color: aliceblue;
    margin: 3px;
    text-decoration: revert;
    font-style: oblique;
}
.divForm_login .subtituloRegistro{
    display: flex;
    align-items: baseline;
    font-size: larger;
}

.input_register {
    width: 250px;
    border-radius: 4px;
    margin-bottom: 2%;
    padding: 1% 3%;
    transition: 2s;
}
.input_register:hover {
    width: 240px;
    height: 33px;
    /* box-shadow: 0 5px 5px var(--color-4); */
}
.subtitulo_registro{    
    display: flex;
    align-items: center;
}
.box-1_egistro, .box-2_registro {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.condiciones_registro {
    display: flex;
    font-size: 11px;
    flex-direction: column;
    padding: 2px;
}
.condiciones_registro .checkbox {
    display: flex;
    align-items: center;
    padding-left: 1%;
}
.condiciones_registro label {
    display: flex;
    align-items: center;
    padding-left: 1%;
}
.condiciones_registro .checkbox .checkbox-in {
    width: 11px;
}
.boton_registro {
    display: flex;
    justify-content: center;
}
.boton_registro .boton-boton {
    margin: 2px;
    border-radius: 4px;
    width: 39%;
    border-radius: 0;
    transition: 1s;
    border-radius: 4px;
    padding: 1% 3%;
}
/* .boton-boton {
} */
.boton-boton:hover {
    background-color: #006f97;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.redes_registro .redes-boton {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 250px;
    border-radius: 4px;
    margin: 2px;
    transition: 1s;
    padding: 6px;
}
.redes_registro .redes-boton:hover {
    background-color: #006f97;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.redes_registro .redes-boton .redes-boton-2:hover {
    background-color: #006f97;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
/* 

@media (min-width: 992px) {
    h2 {
        font-size: 30px;
    }
    
}
  */