
/* :root {
    --color-4: #23b3e8;
    --color-3: #A6E3E9;
    --color-2: #CBF1F5;
    --color-1: #E3FDFD;

    --celeste: linear-gradient(to right, #71C9CE, #0e7e7ee1);  
    --celeste-claro: linear-gradient(to right, #71C9CE, #A6E3E9);
    background: linear-gradient(to left, #1f1c2c, #928dab);
} */