<header>
    <div class="header1"> 
      <div class="headerLogo"><img src="/img/logo.jpg" alt="Mundo Clasico"></div>
      <div class="buscador"> 
        <form action="">
          <input type="text" placeholder="Buscar productos">
          <button class="headerbuscar">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>   
      </div> 
      <div class="movil">
        <input type="checkbox" id="btn_menu">
        <label for="btn_menu" class="btn_menu">
          <span id="btn_span_1" class="btn_span"></span>
          <span id="btn_span_2" class="btn_span"></span>
          <span id="btn_span_3" class="btn_span"></span>
        </label>
        <div class="container_flex">
        <nav>
          <ul class="ul_detalle" class="headerContainer_menu"><!--  flex_column -->
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Ofertas </a></li>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Contacto</a></li>
          </ul class="ul_detalle">
        </nav>
      </div>
    </div>   
  </header>